@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE та Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
  }

main {
    flex: 1;
}
